/* NOTES to contributors:
 * use 4 spaces indents, and keep code ALIGNED and ORDERED */

/* default */
* {
    engine: none;

    border-width: 1px;

    background-clip: padding-box;
    background-origin: border-box;

    -GtkArrow-arrow-scaling: 0.6;
    -GtkButton-child-displacement-x: 0;
    -GtkButton-child-displacement-y: 1;
    -GtkButton-default-border: 0;
    -GtkButton-image-spacing: 0;
    -GtkButton-inner-border: 1;
    -GtkButton-interior-focus: true;
    -GtkCheckButton-indicator-size: 15;
    -GtkCheckMenuItem-indicator-size: 14;
    -GtkEntry-inner-border: 1;
    -GtkEntry-progress-border: 0;
    -GtkExpander-expander-size: 13;
    -GtkHTML-link-color: @link_color;
    -GtkIMHtml-hyperlink-color: @link_color;
    -GtkMenu-horizontal-padding: 1;
    -GtkMenu-vertical-padding: 1;
    -GtkMenuItem-arrow-scaling: 0.5;
    -GtkMenuBar-internal-padding: 1;
    -GtkMenuBar-window-dragging: 1;
    -GtkNotebook-initial-gap: 0;
    -GtkPaned-handle-size: 3;
    -GtkProgressBar-min-horizontal-bar-height: 21;
    -GtkProgressBar-min-vertical-bar-width: 21;
    -GtkRange-slider-width: 10;
    -GtkRange-stepper-spacing: 0;
    -GtkRange-trough-border: 0;
    -GtkRange-trough-under-steppers: 1;
    -GtkScrollbar-activate-slider: 1;
    -GtkScrollbar-has-backward-stepper: false;
    -GtkScrollbar-has-forward-stepper: false;
    -GtkScrollbar-min-slider-length: 40;
    -GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkScrolledWindow-scrollbars-within-bevel: 1;
    -GtkSeparatorMenuItem-horizontal-padding: 0;
    -GtkStatusbar-shadow-type: none;
    -GtkTextView-error-underline-color: @error_color;
    -GtkToolbar-internal-padding: 0;
    -GtkToolButton-icon-spacing: 6;
    -GtkToolItemGroup-expander-size: 8;
    -GtkTreeView-expander-size: 13;
    -GtkTreeView-vertical-separator: 0;
    -GtkWidget-focus-line-width: 1;
    -GtkWidget-focus-padding: 0;
    -GtkWidget-link-color: @link_color;
    -GtkWidget-separator-height: 1;
    -GtkWidget-separator-width: 1;
    -GtkWidget-visited-link-color: @link_color;
    -GtkWidget-wide-separators: true;
    -GtkWindow-resize-grip-height: 0;
    -GtkWindow-resize-grip-width: 0;
    -WnckTasklist-fade-overlay-rect: 0;

    outline-color: alpha(@theme_fg_color, 0.3);
    outline-style: dashed;
    outline-offset: 2px;
}

/***************
 * base states *
 ***************/
GtkWindow {
    color: @theme_fg_color;
}

* {
    background-color: @theme_bg_color;
    color: inherit;
}

*:insensitive,
*:insensitive:insensitive {
    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

*:active {
    background-color: shade(@theme_bg_color, 0.85);
}

*:active:hover:insensitive {
}

*:active:insensitive {
}

*:hover {
}

*:hover:insensitive {
}

*:selected,
*:selected:focus {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

.background {
    color: @theme_fg_color;
    background-color: @theme_bg_color;
}

/******************
 * common effects *
 ******************/
/* transitions animations */
.button,
.slider,
.check,
.radio {
    /* disable transition animations
    transition: background .15s ease-in-out;
    */
}

/* inset shadow */
.button {
    box-shadow: inset 1px 0 alpha(@light_shadow, 0.30),
                inset 0 1px alpha(@light_shadow, 0.30);
}

.progressbar {
    box-shadow: inset 1px 0 alpha(@light_shadow, 0.10),
                inset 0 1px alpha(@light_shadow, 0.10);
}

.button:active,
.primary-toolbar .button:active {
    box-shadow: inset 1px 0 alpha(@dark_shadow, 0.07),
                inset 0 1px alpha(@dark_shadow, 0.08),
                inset -1px 0 alpha(@dark_shadow, 0.07),
                inset 0 -1px alpha(@dark_shadow, 0.05);
}

.entry {
    box-shadow: inset 1px 0 alpha(@dark_shadow, 0.10),
                inset 0 1px alpha(@dark_shadow, 0.12),
                inset -1px 0 alpha(@dark_shadow, 0.10),
                inset 0 -1px alpha(@dark_shadow, 0.05);
}

.button:active:insensitive,
.primary-toolbar .button:active:insensitive,
.entry:insensitive {
    box-shadow: none;
}

/* draw borders using box shadow */
GtkScale.slider {
    box-shadow: inset 1px 0 shade(@theme_bg_color, 0.5),
                inset 0 1px shade(@theme_bg_color, 0.6),
                inset -1px 0 shade(@theme_bg_color, 0.5),
                inset 0 -1px shade(@theme_bg_color, 0.4);
}

GtkScale.slider:hover {
    box-shadow: inset 1px 0 shade(@theme_bg_color, 0.6),
                inset 0 1px shade(@theme_bg_color, 0.7),
                inset -1px 0 shade(@theme_bg_color, 0.6),
                inset 0 -1px shade(@theme_bg_color, 0.4);
}

GtkScale.slider:insensitive {
    box-shadow: inset 1px 0 shade(@theme_bg_color, 0.9),
                inset 0 1px shade(@theme_bg_color, 0.9),
                inset -1px 0 shade(@theme_bg_color, 0.9),
                inset 0 -1px shade(@theme_bg_color, 0.9);
}

/*************
 * assistant *
 *************/
GtkAssistant .sidebar .highlight {
    font: bold;
}

GtkAssistant .sidebar {
    padding: 2px;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-right-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
    background-color: @theme_bg_color;
    color: mix(@theme_fg_color, @theme_bg_color, 0.1);
}

/**************
 * background *
 **************/
.background {
    border-width: 0;
    background-color: @theme_bg_color;
}

/**********
 * button *
 **********/
.button {
    -GtkWidget-focus-padding: 0;
    -GtkWidget-focus-line-width: 0;

    padding: 3px;
}

.button {
    border-width: 3px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 5px;
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@theme_bg_color, 1.06), 1.1)),
                                     to (shade(shade(@theme_bg_color, 1.06), 0.95)));

    color: @theme_fg_color;
}

.button:hover {
    border-color: shade(@theme_bg_color, 0.7);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@theme_selected_bg_color, 1.45), 1.1)),
                                     to (shade(shade(@theme_selected_bg_color, 1.45), 0.95)));
}

.button:active {
    border-color: shade(@theme_bg_color, 0.8);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@theme_bg_color, 0.85), 1.1)),
                                     to (shade(shade(@theme_bg_color, 0.85), 0.95)));
}

.button:active:hover {
    border-color: shade(@theme_bg_color, 0.7);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@theme_selected_bg_color, 1.45), 1.1)),
                                     to (shade(shade(@theme_selected_bg_color, 1.45), 0.95)));
}

.button:focus,
.button:hover:focus,
.button:active:focus,
.button:active:hover:focus {
    border-color: shade(@theme_bg_color, 0.7);
}

.button:insensitive {
    border-color: shade(@theme_bg_color, 0.9);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@theme_bg_color, 0.95), 1.1)),
                                     to (shade(shade(@theme_bg_color, 0.95), 0.95)));
}

.button:active:insensitive {
    border-color: shade(@theme_bg_color, 0.8);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 0.97)),
                                     to (shade(@theme_bg_color, 1.0)));
}

/* default button */
.button.default {
    border-color: shade(@theme_bg_color, 0.7);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@theme_selected_bg_color, 1.50), 1.1)),
                                     to (shade(shade(@theme_selected_bg_color, 1.50), 0.95)));
}

.button.default:hover {
    border-color: shade(@theme_bg_color, 0.7);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@theme_selected_bg_color, 1.45), 1.1)),
                                     to (shade(shade(@theme_selected_bg_color, 1.45), 0.95)));
}

.button.default:active {
    border-color: shade(@theme_selected_bg_color, 0.8);
}

.button.default:active:hover {
    border-color: shade(@theme_selected_bg_color, 0.7);
}

/* middle button */
.linked .entry,
.linked .button,
.linked .button:active,
.linked .button:active:hover,
.linked .button:focus,
.linked .button:focus:active,
.linked .button:insensitive {
    border-width: 3px;
    border-right-width: 0;
    border-left-width: 0;
    border-radius: 0;
}

/* leftmost button */
.linked .entry:first-child,
.linked .button:first-child,
.linked .button:active:first-child,
.linked .button:active:hover:first-child,
.linked .button:focus:first-child,
.linked .button:focus:active:first-child,
.linked .button:insensitive:first-child {
    border-width: 3px;
    border-right-width: 0;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* rightmost button */
.linked .entry:last-child,
.linked .button:last-child,
.linked .button:active:last-child,
.linked .button:active:hover:last-child,
.linked .button:focus:last-child,
.linked .button:focus:active:last-child,
.linked .button:insensitive:last-child {
    border-width: 3px;
    border-left-width: 0;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* linked single button */
.linked .entry:only-child,
.linked .button:only-child,
.linked .button:active:only-child,
.linked .button:active:hover:only-child,
.linked .button:focus:only-child,
.linked .button:focus:active:only-child,
.linked .button:insensitive:only-child {
    border-width: 3px;
    border-radius: 5px;
}

/* middle button (vertical) */
.linked.vertical .entry,
.linked.vertical .button,
.linked.vertical .button:active,
.linked.vertical .button:active:hover,
.linked.vertical .button:focus,
.linked.vertical .button:focus:active,
.linked.vertical .button:insensitive {
    border-width: 3px;
    border-bottom-width: 0;
    border-top-width: 0;
    border-radius: 0;
}

/* leftmost button (vertical) */
.linked.vertical .entry:first-child,
.linked.vertical .button:first-child,
.linked.vertical .button:active:first-child,
.linked.vertical .button:active:hover:first-child,
.linked.vertical .button:focus:first-child,
.linked.vertical .button:focus:active:first-child,
.linked.vertical .button:insensitive:first-child {
    border-width: 3px;
    border-bottom-width: 0;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* rightmost button (vertical) */
.linked.vertical .entry:last-child,
.linked.vertical .button:last-child,
.linked.vertical .button:active:last-child,
.linked.vertical .button:active:hover:last-child,
.linked.vertical .button:focus:last-child,
.linked.vertical .button:focus:active:last-child,
.linked.vertical .button:insensitive:last-child {
    border-width: 3px;
    border-top-width: 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* linked single button (vertical) */
.linked.vertical .entry:only-child,
.linked.vertical .button:only-child,
.linked.vertical .button:active:only-child,
.linked.vertical .button:active:hover:only-child,
.linked.vertical .button:focus:only-child,
.linked.vertical .button:focus:active:only-child,
.linked.vertical .button:insensitive:only-child {
    border-width: 3px;
    border-radius: 5px;
}

/****************
 * cell and row *
 ****************/
.cell {
    border-width: 0;
    border-radius: 0;
    background-color: @theme_base_color;
    color: @theme_text_color;
}

.cell:selected,
.cell:selected:focus {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

row:selected,
row:selected:focus {
    border-width: 1px 0;
    border-style: solid;
    border-color: shade(@theme_selected_bg_color, 0.9);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_selected_bg_color, 1.1)),
                                     to (shade(@theme_selected_bg_color, 0.9)));

    color: @theme_selected_fg_color;
}

/*******************
 * check and radio *
 *******************/
.check,
.radio,
.check:insensitive,
.radio:insensitive {
    border-style: none;
    background-color: transparent;
}

GtkCheckButton:hover,
GtkCheckButton:active:hover,
GtkCheckButton:selected,
GtkCheckButton:selected:focus {
    background-color: transparent;
}

/*****************
 * column-header *
 *****************/
column-header .button,
column-header .button:active {
    border-width: 0 1px 1px 0;
    border-radius: 0;
}

column-header .button {
    border-color: shade(@theme_bg_color, 0.95);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 1.2)),
                                     to (shade(@theme_bg_color, 1.06)));
}

column-header .button:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 1.25)),
                                     to (shade(@theme_bg_color, 1.1)));
}

column-header:last-child .button {
    border-width: 0 0 1px 0;
}

/****************
 * drawing area *
 ****************/
GtkDrawingArea {
    background-color: transparent;
}

GtkDrawingArea:insensitive {
    background-color: @theme_bg_color;
}

/************
* gucharmap *
*************/
GucharmapChartable {
    background-color: @theme_base_color;
}

GucharmapChartable:active,
GucharmapChartable:focus,
GucharmapChartable:selected {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

/***********
 * gtkhtml *
 ***********/
GtkHTML {
    background-color: @theme_base_color;
    color: @theme_text_color;
}

/***********
* calendar *
************/
GtkCalendar {
    padding: 0;
}

GtkCalendar:inconsistent {
    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

GtkCalendar.view {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
    background-color: @theme_base_color;
    background-image: none;
}

GtkCalendar.header {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@theme_bg_color, 1.02), 1.05)),
                                     to (shade(shade(@theme_bg_color, 1.02), 0.97)));
}

GtkCalendar.button,
GtkCalendar.button:hover,
GtkCalendar.button:insensitive {
    border-width: 0;
    background-color: transparent;
    background-image: none;
}

.highlight,
GtkCalendar.highlight {
    border-width: 0;
    background-color: transparent;
    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

/******************
 * combobox entry *
 ******************/
.primary-toolbar GtkComboBox.combobox-entry .entry,
.primary-toolbar GtkComboBox.combobox-entry .entry:active,
.primary-toolbar GtkComboBox.combobox-entry .entry:focus,
.primary-toolbar GtkComboBox.combobox-entry .entry:insensitive,
GtkComboBox.combobox-entry .entry,
GtkComboBox.combobox-entry .entry:active,
GtkComboBox.combobox-entry .entry:focus,
GtkComboBox.combobox-entry .entry:insensitive {
    border-width: 3px 0 3px 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.primary-toolbar GtkComboBox.combobox-entry .button,
.primary-toolbar GtkComboBox.combobox-entry .button:hover,
.primary-toolbar GtkComboBox.combobox-entry .button:active,
.primary-toolbar GtkComboBox.combobox-entry .button:insensitive,
GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button:hover,
GtkComboBox.combobox-entry .button:active,
GtkComboBox.combobox-entry .button:insensitive {
    border-width: 3px 3px 3px 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/*********
 * entry *
 *********/
.entry {
    padding: 3px;
    border-width: 3px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 5px;
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_base_color, 0.97)),
                                     to (@theme_base_color));

    color: @theme_text_color;
}

.entry:active,
.entry:focus {
    border-color: shade(@theme_selected_bg_color, 0.8);
}

.entry:selected,
.entry:selected:focus {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

.entry:insensitive {
    background-color: shade(@theme_bg_color, 0.96);
    background-image: none;
    color: mix(@theme_text_color, @theme_base_color, 0.5);
}

.entry.progressbar {
    border-width: 0;
    border-radius: 5px;
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_selected_bg_color, 1.1)),
                                     to (shade(@theme_selected_bg_color, 0.9)));

    color: @theme_selected_fg_color;
}

/************
 * expander *
 ************/
.expander {
    color: alpha(@theme_fg_color, 0.7);
}

.expander:hover {
    color: alpha(@theme_fg_color, 0.8);
}

/*********
 * frame *
 *********/
.frame {
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
}

/************
 * iconview *
 ************/
GtkIconView {
    background-color: transparent;
}

GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focus {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_selected_bg_color, 0.9);
    border-radius: 5px;
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_selected_bg_color, 1.1)),
                                     to (shade(@theme_selected_bg_color, 0.9)));

    color: @theme_selected_fg_color;
}

.view.rubberband,
.rubberband {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_selected_bg_color, 0.9);
    border-radius: 0;
    background-color: alpha(@theme_selected_bg_color, 0.3);
}

/*********
 * image *
 *********/
GtkImage,
GtkImage:active,
GtkImage:insensitive {
    background-color: transparent;
}

/*********
 * label *
 *********/
GtkLabel,
GtkLabel:active,
GtkLabel:insensitive {
    background-color: transparent;
}

/***********
 * infobar *
 ***********/
GtkInfoBar {
    border-width: 0;
    border-style: none;
}

.info {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@info_bg_color, 0.7);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@info_bg_color, 1.1)),
                                     to (shade(@info_bg_color, 0.96)));

    color: @info_fg_color;
}

.warning {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@warning_bg_color, 0.7);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@warning_bg_color, 1.04)),
                                     to (shade(@warning_bg_color, 0.96)));

    color: @warning_fg_color;
}

.question {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@question_bg_color, 0.7);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@question_bg_color, 1.04)),
                                     to (shade(@question_bg_color, 0.96)));

    color: @question_fg_color;
}

.error {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@error_bg_color, 0.7);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@error_bg_color, 1.04)),
                                     to (shade(@error_bg_color, 0.96)));

    color: @error_fg_color;
}

/************
 * gtkstyle *
 ************/
.gtkstyle-fallback {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

.gtkstyle-fallback:prelight {
    background-color: shade(@theme_bg_color, 1.1);
    color: @theme_fg_color;
}

.gtkstyle-fallback:active {
    background-color: shade(@theme_bg_color, 0.9);
    color: @theme_fg_color;
}

.gtkstyle-fallback:insensitive {
    background-color: shade(shade(@theme_bg_color, 0.95), 1.05);
    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

.gtkstyle-fallback:selected {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

/*******************
 * symbolic images *
 *******************/
.image,
.view.image {
    color: alpha(@theme_fg_color, 0.5);
}

.image:hover,
.view.image:hover {
    color: @theme_fg_color;
}

.image:selected,
.image:selected:hover,
.view.image:selected,
.view.image:selected:hover {
    color: @theme_selected_fg_color;
}

/*****************
 * miscellaneous *
 *****************/
.floating-bar {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 5px;
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@theme_bg_color, 1.06), 1.1)),
                                     to (shade(shade(@theme_bg_color, 1.06), 0.95)));
}

.floating-bar.top {
    border-top-width: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.floating-bar.right {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.floating-bar.bottom {
    border-bottom-width: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.floating-bar.left {
    border-left-width: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.floating-bar .button {
    -GtkButton-image-spacing: 0;
    -GtkButton-inner-border: 0;

    border-style: none;
    background-color: transparent;
    background-image: none;
}

.view.dim-label,
.dim-label,
.dim-label:hover,
.dim-label:focus {
    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

.dim-label:selected,
.dim-label:selected:focus {
    color: mix(@theme_selected_fg_color, @theme_bg_color, 0.5);
}

.dnd {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_selected_bg_color, 0.9);
}

.grip {
    background-color: transparent;
}

/********
 * menu *
 ********/
GtkTreeMenu.menu,
GtkMenuToolButton.menu,
GtkComboBox .menu {
    background-color: @menu_bg_color;
}

.primary-toolbar .button .menu,
.toolbar .menu,
.toolbar .primary-toolbar .menu,
.menu {
    padding: 0;
    border-width: 0;
    border-radius: 0;
    background-color: @menu_bg_color;
    color: @menu_fg_color;
}

.menu.button:hover,
.menu.button:active,
.menu.button:active:insensitive,
.menu.button:insensitive,
.menu.button {
    border-width: 0;
    background-color: @menu_bg_color;
    background-image: none;
}

/***********
 * menubar *
 ***********/
.menubar {
    -GtkWidget-window-dragging: true;

    border-width: 0;
    background-color: @menubar_bg_color;
    background-image: none;
    color: @menubar_fg_color;
}

/***************
 * menubaritem *
 ***************/
.menubar.menuitem,
.menubar .menuitem {
    padding: 5px;
    border-width: 0px 0px 0px 0px;
}

.menubar.menuitem:hover,
.menubar .menuitem:hover {
    border-color: shade(@menubar_bg_color, 1.3);
    background-color: shade(@menubar_bg_color, 1.3);
}

.menubar .menuitem *:hover {
    color: @theme_selected_fg_color;
}

/************
 * menuitem *
 ************/
GtkTreeMenu .menuitem {
    padding: 0;
    border-width: 0;
}

GtkTreeMenu .menuitem * {
    color: @menu_fg_color;
}

.menuitem,
.menu .menuitem {
    padding: 2px;
    border-width: 0px;
    border-style: solid;
    border-radius: 0;
}

.menu .menuitem:active,
.menu .menuitem:hover {
    border-color: shade(@theme_selected_bg_color, 0.78);
    border-radius: 0;
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_selected_bg_color, 1.0)),
                                     to (shade(@theme_selected_bg_color, 0.75)));
}

.menu .menuitem:active,
.menu .menuitem *:active,
.menu .menuitem:hover,
.menu .menuitem *:hover {
    color: @theme_selected_fg_color;
}

.menu .menuitem:insensitive,
.menu .menuitem *:insensitive {
    color: mix(@menu_fg_color, @menu_bg_color, 0.5);
}

.menuitem.check,
.menuitem.radio,
.menuitem.check:hover,
.menuitem.radio:hover,
.menuitem.check:insensitive,
.menuitem.radio:insensitive {
    border-style: none;
    background-color: transparent;
    background-image: none;
}

.menuitem.check:active,
.menuitem.radio:active {
    border-style: none;
    background-color: transparent;
}

.menuitem GtkCalendar:inconsistent {
    color: mix(@menu_fg_color, @menu_bg_color, 0.5);
}

.menuitem GtkCalendar.button {
    border-style: none;
    background-color: transparent;
    background-image: none;
}

.menuitem GtkCalendar.highlight {
    border-width: 0;
    background-color: transparent;
    color: mix(@menu_fg_color, @menu_bg_color, 0.5);
}

.menuitem .entry {
    border-color: shade(@menu_bg_color, 0.7);
    background-color: @menu_bg_color;
    background-image: none;
    color: @menu_fg_color;
}

.menuitem .entry:active,
.menuitem .entry:focus {
    border-color: shade(@theme_selected_bg_color, 0.8);
}

.menuitem .accelerator {
    color: alpha(@menu_fg_color, 0.6);
}

.menuitem .accelerator:hover {
    color: alpha(@theme_selected_fg_color, 0.8);
}

.menuitem .accelerator:insensitive {
    color: alpha(mix(@menu_fg_color, @menu_bg_color, 0.5), 0.6);
}

/************
 * notebook *
 ************/
.notebook {
    padding: 0;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 5px;
    background-color: shade(@theme_bg_color, 1.07);
    background-image: none;
}

.notebook tab {
    padding: 2px;
    border-color: shade(@theme_bg_color, 0.9);
    border-radius: 5px;
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 1.05)),
                                     to (shade(@theme_bg_color, 0.97)));
}

.notebook tab:active {
    border-color: shade(@theme_bg_color, 0.8);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 1.07)),
                                     to (shade(@theme_bg_color, 1.07)));
}

.notebook tab GtkLabel {
    color: @theme_fg_color;
}

.notebook tab.top {
    border-width: 1px 1px 0 1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.notebook tab.top:active {
    padding: 3px 2px;
}

.notebook tab.right {
    border-width: 1px 1px 1px 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-image: -gtk-gradient(linear, right bottom, left bottom,
                                     from (shade(@theme_bg_color, 1.05)),
                                     to (shade(@theme_bg_color, 0.97)));
}

.notebook tab.right:active {
    padding: 2px 3px;
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 1.07)),
                                     to (shade(@theme_bg_color, 1.07)));
}

.notebook tab.bottom {
    border-width: 0 1px 1px 1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-image: -gtk-gradient(linear, left bottom, left top,
                                     from (shade(@theme_bg_color, 1.05)),
                                     to (shade(@theme_bg_color, 0.97)));
}

.notebook tab.bottom:active {
    padding: 3px 2px;
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 1.07)),
                                     to (shade(@theme_bg_color, 1.07)));
}

.notebook tab.left {
    border-width: 1px 0 1px 1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-image: -gtk-gradient(linear, left bottom, right bottom,
                                     from (shade(@theme_bg_color, 1.05)),
                                     to (shade(@theme_bg_color, 0.97)));
}

.notebook tab.left:active {
    padding: 2px 3px;
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 1.07)),
                                     to (shade(@theme_bg_color, 1.07)));
}

/******************
 * pane separator *
 ******************/
.pane-separator {
    background-color: @theme_bg_color;
    color: transparent;
}

/*************************
 * progressbar and scale *
 *************************/
GtkScale,
GtkProgressBar {
    padding: 0;
    border-width: 1px;
    border-radius: 5px;
}

.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focus {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_selected_bg_color, 0.8);
    background-color: transparent;
}

.trough,
.trough row,
.trough row:hover,
.trough row:selected,
.trough row:selected:focus {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.6);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 0.76)),
                                     to (shade(@theme_bg_color, 0.9)));
}

.trough.vertical {
    background-image: -gtk-gradient(linear, left top, right top,
                                     from (shade(@theme_bg_color, 0.76)),
                                     to (shade(@theme_bg_color, 0.9)));
}

/* level bars as used for password quality or remaining power */
GtkLevelBar {
    -GtkLevelBar-min-block-width: 34;
    -GtkLevelBar-min-block-height: 3;
}

GtkLevelBar.vertical {
    -GtkLevelBar-min-block-width: 3;
    -GtkLevelBar-min-block-height: 34;
}

.level-bar.trough {
    padding: 2px;
    border-radius: 5px;
}

.level-bar.fill-block {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_selected_bg_color, 0.8);
    background-color: @theme_selected_bg_color;
}

.level-bar.indicator-continuous.fill-block {
    padding: 2px;
    border-radius: 5px;
}

.level-bar.indicator-discrete.fill-block.horizontal {
    margin: 0 1px;
}

.level-bar.indicator-discrete.fill-block.vertical {
    margin: 1px 0;
}

/* discrete indicator border rounding,
   uncomment when :nth-child will be working
   on the widget

.level-bar.indicator-discrete.fill-block.horizontal:first-child {
    border-radius: 2px 0 0 2px;
}

.level-bar.indicator-discrete.fill-block.horizontal:last-child {
    border-radius: 0 2px 2px 0;
}

.level-bar.indicator-discrete.fill-block.vertical:first-child {
    border-radius: 2px 2px 0 0;
}

.level-bar.indicator-discrete.fill-block.vertical:last-child {
    border-radius: 0 0 2px 2px;
}
*/

.level-bar.fill-block.level-high {
    border-color: shade(@success_color, 0.85);
    background-image: linear-gradient(to bottom,
                                      shade(@success_color, 1.2),
                                      @success_color 75%,
                                      shade(@success_color, 0.95)
                                      );
}

.level-bar.fill-block.level-low {
    border-color: shade(@warning_bg_color, 0.80);
    background-image: linear-gradient(to bottom,
                                      shade(@warning_bg_color, 1.3),
                                      @warning_bg_color 75%,
                                      shade(@warning_bg_color, 0.90)
                                      );
}

.level-bar.fill-block.empty-fill-block {
    border-color: alpha(@theme_fg_color, 0.1);
    background-color: transparent;
    background-image: none;
}

GtkScale {
    -GtkRange-slider-width: 13;
    -GtkRange-trough-border: 2;
    -GtkScale-slider-length: 13;
}

GtkScale.vertical {
    -GtkScale-slider-length: 13;
}

GtkScale.slider,
GtkScale.slider.vertical {
    /* we will draw the border using box shadow for now */
    border-radius: 7px;
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@theme_bg_color, 1.06), 1.1)),
                                     to (shade(shade(@theme_bg_color, 1.06), 0.95)));
}

GtkScale.slider:hover,
GtkScale.slider.vertical:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@theme_bg_color, 1.06), 1.2)),
                                     to (shade(shade(@theme_bg_color, 1.06), 1.05)));
}

GtkScale.slider:insensitive {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@theme_bg_color, 0.95), 1.1)),
                                     to (shade(shade(@theme_bg_color, 0.95), 0.95)));
}

GtkScale.slider.vertical:insensitive {
    background-image: -gtk-gradient(linear, left top, right top,
                                     from (shade(shade(@theme_bg_color, 0.95), 1.1)),
                                     to (shade(shade(@theme_bg_color, 0.95), 0.95)));
}

GtkScale.mark {
    border-color: shade(@theme_bg_color, 0.4);
}

GtkScale.trough {
    margin: 6px 0;
    border-color: shade(@theme_bg_color, 0.4);
    border-radius: 5px;
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 0.6)),
                                     to (shade(@theme_bg_color, 0.7)));
}

GtkScale.trough.vertical {
    margin: 0 6px;
    border-color: shade(@theme_bg_color, 0.5);
    border-radius: 5px;
    background-image: -gtk-gradient(linear, left top, right top,
                                     from (shade(@theme_bg_color, 0.6)),
                                     to (shade(@theme_bg_color, 0.7)));
}

.menubar .menuitem .scale.highlight.left,
.scale.highlight.left {
    border-color: shade(@theme_selected_bg_color, 0.4);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                    from (shade(@theme_selected_bg_color, 0.8)),
                                    to (shade(@theme_selected_bg_color, 1.0)));
}

.scale.highlight.bottom {
    border-color: shade(@theme_selected_bg_color, 0.4);
    background-image: -gtk-gradient(linear, left top, right top,
                                    from (shade(@theme_selected_bg_color, 0.8)),
                                    to (shade(@theme_selected_bg_color, 1.0)));
}

GtkScale.trough:insensitive,
.scale.highlight.left:insensitive {
    border-color: shade(@theme_bg_color, 0.9);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 0.99)),
                                     to (shade(@theme_bg_color, 0.95)));
}

GtkScale.trough.vertical:insensitive,
.scale.highlight.bottom:insensitive {
    border-color: shade(@theme_bg_color, 0.9);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 0.99)),
                                     to (shade(@theme_bg_color, 0.95)));
}

/*************
 * scrollbar *
 *************/
.scrollbar {
    border-style: solid;
    padding: 0;
}

.scrollbars-junction,
.scrollbar.trough {
    border-width: 0;
    border-radius: 0;
    background-image: none;
    background-color: @theme_bg_color;
}

.scrollbar.button,
.scrollbar.button:active,
.scrollbar.button:active:hover {
    border-width: 0;
    border-color: transparent;
    border-radius: 0;
    background-image: none;
    background-color: transparent;
    color: shade(@theme_bg_color, 0.6);
}

.scrollbar.slider {
    border-width: 3px;
    border-color: transparent;
    border-radius: 7px;
    background-color: shade(@theme_bg_color, 0.7);
}

.scrollbar.slider:hover,
.scrollbar.slider.vertical:hover {
    border-color: transparent;
    background-color: shade(@theme_bg_color, 0.6);
}

.scrollbar.slider:active,
.scrollbar.slider.vertical:active {
    border-color: transparent;
    background-color: @theme_selected_bg_color;
}

/* overlay scrollbar */
OsThumb {
    color: shade(@theme_bg_color, 0.7);
}

OsThumb:selected,
OsScrollbar:selected {
    background-color: @theme_selected_bg_color;
}

OsThumb:active,
OsScrollbar:active {
    background-color: @theme_selected_bg_color;
}

OsThumb:insensitive,
OsScrollbar:insensitive {
    background-color: shade(@theme_bg_color, 0.9);
}

/*******************
 * scrolled window *
 *******************/
GtkScrolledWindow.frame {
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
}

/* avoid double borders when a viewport is 
 * packed into a GtkScrolledWindow */
GtkScrolledWindow GtkViewport.frame {
    border-style: none;
}

/*************
 * separator *
 *************/
.sidebar.view.separator,
.view.separator,
.separator {
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.9);
    color: shade(@theme_bg_color, 0.9);
}

.button .separator,
.button.separator {
    border-color: shade(@theme_bg_color, 0.9);
}

.button .separator:insensitive,
.button.separator:insensitive {
    border-color: @theme_bg_color;
}

.toolbar .button .separator,
.toolbar .button.separator,
.primary-toolbar .button .separator,
.primary-toolbar .button.separator {
    border-color: shade(@toolbar_bg_color, 0.9);
}

.toolbar .button .separator:insensitive,
.toolbar .button.separator:insensitive,
.primary-toolbar .button .separator:insensitive,
.primary-toolbar .button.separator:insensitive {
    border-color: @toolbar_bg_color;
}

.menuitem.separator {
    -GtkMenuItem-horizontal-padding: 0;
    -GtkWidget-separator-height: 1;

    border-image: -gtk-gradient(linear,
                     left top, left bottom,
                     from (shade(@menu_bg_color, 0.9)),
                     to (shade(@menu_bg_color, 0.9))) 1;

    border-color: shade(@menu_bg_color, 0.9);
    color: shade(@menu_bg_color, 0.9);
}

GtkComboBox .separator {
    /* always disable separators */
    -GtkWidget-wide-separators: true;
    -GtkWidget-horizontal-separator: 0;
    -GtkWidget-vertical-separator: 0;
}

/***********
 * sidebar *
 ***********/
.sidebar,
.sidebar.view,
.sidebar .view {
    background-color: @theme_bg_color;
    color: mix(@theme_fg_color, @theme_bg_color, 0.1);
}

.sidebar .frame {
    border-width: 0;
}

/**************
 * spinbutton *
 **************/
.spinbutton.button {
    border-color: shade(@theme_bg_color, 0.8);
}

.spinbutton.button:insensitive {
    border-color: shade(@theme_bg_color, 0.9);
    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

.spinbutton.button {
    border-width: 0;
    border-left-width: 1px;
    border-radius: 0;
}

.spinbutton.button:first-child {
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.spinbutton.button:last-child {
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.spinbutton.vertical .button:first-child {
    border-width: 1px;
    border-bottom-width: 0;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.spinbutton.vertical .button:last-child {
    border-width: 1px;
    border-top-width: 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.spinbutton.vertical.entry {
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
}

/***********
 * spinner *
 ***********/
@keyframes spinner {
    0.00% { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.875)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.750)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.625)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.500)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.375)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.250)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.125)), to(transparent)); }

    12.5% { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.875)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.750)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.625)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.500)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.375)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.250)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.125)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)); }

    25.0% { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.750)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.625)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.500)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.375)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.250)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.125)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.875)), to(transparent)); }

    37.5% { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.625)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.500)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.375)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.250)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.125)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.875)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.750)), to(transparent)); }

    50.0% { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.500)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.375)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.250)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.125)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.875)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.750)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.625)), to(transparent)); }

    62.5% { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.375)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.250)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.125)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.875)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.750)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.625)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.500)), to(transparent)); }

    75.0% { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.250)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.125)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.875)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.750)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.625)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.500)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.375)), to(transparent)); }

    87.5% { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.125)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.875)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.750)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.625)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.500)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.375)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.250)), to(transparent)); }

    100%  { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.875)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.750)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.625)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.500)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.375)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.250)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.125)), to(transparent)); }
}

.spinner {
    background-color: transparent;
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)),
                      -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)),
                      -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)),
                      -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)),
                      -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)),
                      -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)),
                      -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)),
                      -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent));
    background-position: 14% 14%, 0% 50%, 14% 86%, 50% 100%, 86% 86%, 100% 50%, 86% 14%, 50% 0%;
    background-size: 15% 15%;
    background-repeat: no-repeat;
}

.spinner:active {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.875)), to(transparent)),
                      -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.750)), to(transparent)),
                      -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.625)), to(transparent)),
                      -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.500)), to(transparent)),
                      -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.375)), to(transparent)),
                      -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.250)), to(transparent)),
                      -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.125)), to(transparent)),
                      -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent));
    animation: spinner 1s infinite linear;
}

.menu.spinner,
.primary-toolbar .spinner {
    color: @theme_selected_bg_color;
}

/*******
 * osd *
 *******/
GtkWindow.osd {
    background-color: @osd_bg;
    color: @osd_fg;
}

GtkOverlay.osd {
    background-color: transparent;
}

/* used by gnome-settings-daemon's media-keys OSD */
.osd.trough {
    background-color: shade(@osd_bg, 0.8);
}

.osd.progressbar {
    background-color: @osd_fg;
}

/*************
 * statusbar *
 *************/
GtkStatusbar {
    padding: 2px;
    color: @theme_fg_color;
}

/**********
 * switch *
 **********/
GtkSwitch {
    padding: 0;
    border-radius: 5px;
    font: bold condensed;
}

GtkSwitch.slider {
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.7);
    border-radius: 5px;
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@theme_bg_color, 1.06), 1.1)),
                                     to (shade(shade(@theme_bg_color, 1.06), 0.95)));
}

GtkSwitch.slider:insensitive {
    border-color: shade(@theme_bg_color, 0.9);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@theme_bg_color, 0.95), 1.1)),
                                     to (shade(shade(@theme_bg_color, 0.95), 0.95)));
}

GtkSwitch.trough {
    border-color: shade(@theme_bg_color, 0.8);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 0.97)),
                                     to (shade(@theme_bg_color, 1.0)));

    color: @theme_fg_color;
}

GtkSwitch.trough:active {
    border-color: shade(@theme_selected_bg_color, 0.8);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_selected_bg_color, 0.9)),
                                     to (shade(@theme_selected_bg_color, 1.1)));

    color: @theme_selected_fg_color;
}

GtkSwitch.trough:insensitive {
    border-color: shade(@theme_bg_color, 0.9);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 0.95)),
                                     to (shade(@theme_bg_color, 0.99)));

    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

/************
 * textview *
 ************/
GtkTextView {
    background-color: @theme_base_color;
    color: @theme_text_color;
}

/***********
 * toolbar *
 ***********/
.toolbar {
    padding: 2px;
    border-style: none;
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@toolbar_bg_color, 1.0)),
                                     to (shade(@toolbar_bg_color, 0.9)));
}

/* primary-toolbar */
.primary-toolbar,
.primary-toolbar .toolbar,
.primary-toolbar.toolbar {
    -GtkWidget-window-dragging: true;

    padding: 2px;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-top-color: shade(@toolbar_bg_color, 1.0);
    border-bottom-color: shade(@toolbar_bg_color, 0.9);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@toolbar_bg_color, 1.0)),
                                     to (shade(@toolbar_bg_color, 0.9)));

    color: @toolbar_fg_color;
}

.primary-toolbar GtkComboBox,
.primary-toolbar GtkComboBox .cell 
.primary-toolbar .button *,
.primary-toolbar .button,
.toolbar GtkComboBox .cell {
    padding: 2px;
    border-width: 3px;
    border-color: transparent;
    border-radius: 5px;
    background-color: transparent;
    background-image: none;
    color: @toolbar_fg_color;
}

.primary-toolbar .raised .button,
.primary-toolbar .raised.button,
.toolbar .button {
    border-color: shade(@toolbar_bg_color, 0.8);
    background-color: transparent;
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@toolbar_bg_color, 1.02), 1.1)),
                                     to (shade(shade(@toolbar_bg_color, 1.02), 0.9)));

    color: @toolbar_fg_color;
}

.primary-toolbar .button:hover,
.toolbar .button:hover,
.toolbar GtkComboBox .cell:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@theme_selected_bg_color, 1.45), 1.1)),
                                     to (shade(shade(@theme_selected_bg_color, 1.45), 0.95)));
    border-color: shade(@toolbar_bg_color, 0.7);
}

.primary-toolbar .button:active,
.toolbar .button:active {
    border-color: shade(@toolbar_bg_color, 0.8);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@toolbar_bg_color, 1.02), 0.9)),
                                     to (shade(shade(@toolbar_bg_color, 1.02), 0.95)));
}

.primary-toolbar .button:active:hover,
.toolbar .button:active:hover {
    border-color: shade(@toolbar_bg_color, 0.7);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@theme_selected_bg_color, 1.45), 1.1)),
                                     to (shade(shade(@theme_selected_bg_color, 1.45), 0.95)));
}

.primary-toolbar .button:focus,
.primary-toolbar .button:hover:focus,
.primary-toolbar .button:active:focus,
.primary-toolbar .button:active:hover:focus,
.toolbar .button:focus,
.toolbar .button:hover:focus,
.toolbar .button:active:focus,
.toolbar .button:active:hover:focus {
    border-color: shade(@toolbar_bg_color, 0.7);
}

.primary-toolbar .button:insensitive,
.toolbar .button:insensitive {
    border-color: shade(@toolbar_bg_color, 0.9);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@toolbar_bg_color, 1.04)),
                                     to (shade(@toolbar_bg_color, 0.96)));
}

.primary-toolbar .button:active:insensitive,
.toolbar .button:active:insensitive {
    border-color: shade(@toolbar_bg_color, 0.8);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@toolbar_bg_color, 0.97)),
                                     to (shade(@toolbar_bg_color, 1.0)));
}

.primary-toolbar .entry {
    border-top-color: shade(@toolbar_bg_color, 0.7);
    border-right-color: shade(@toolbar_bg_color, 0.76);
    border-left-color: shade(@toolbar_bg_color, 0.76);
    border-bottom-color: shade(@toolbar_bg_color, 0.8);
}

.primary-toolbar .entry:active,
.primary-toolbar .entry:focus {
    border-color: shade(@theme_selected_bg_color, 0.8);
}

.primary-toolbar GtkSeparatorToolItem,
.primary-toolbar .separator,
.primary-toolbar .separator:insensitive {
    border-color: shade(@toolbar_bg_color, 0.9);
}

/* inline-toolbar */
.inline-toolbar.toolbar {
    -GtkToolbar-button-relief: normal;

    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_bg_color, 0.96)),
                                     to (shade(@theme_bg_color, 0.94)));
}

.inline-toolbar.toolbar:last-child {
    border-width: 0 1px 1px 1px;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
}

.inline-toolbar.toolbar .button {
    padding: 1px;
    border-width: 3px 0 3px 3px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@theme_bg_color, 1.06), 1.1)),
                                     to (shade(shade(@theme_bg_color, 1.06), 0.95)));
}

.inline-toolbar.toolbar .button *:insensitive,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
    border-color: shade(@theme_bg_color, 0.9);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(shade(@theme_bg_color, 0.95), 1.1)),
                                     to (shade(shade(@theme_bg_color, 0.95), 0.95)));
}

/* middle button */
.primary-toolbar .button.raised.linked,
.primary-toolbar .button.raised.linked:active,
.primary-toolbar .button.raised.linked:focus,
.primary-toolbar .button.raised.linked:focus:active,
.primary-toolbar .button.raised.linked:insensitive,
.primary-toolbar .raised.linked .button,
.primary-toolbar .raised.linked .button:active,
.primary-toolbar .raised.linked .button:focus,
.primary-toolbar .raised.linked .button:focus:active,
.primary-toolbar .raised.linked .button:insensitive,
.inline-toolbar.toolbar .button,
.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar .button:focus,
.inline-toolbar.toolbar .button:focus:active,
.inline-toolbar.toolbar .button:insensitive,
.inline-toolbar.toolbar GtkToolButton .button,
.inline-toolbar.toolbar GtkToolButton .button:active,
.inline-toolbar.toolbar GtkToolButton .button:focus,
.inline-toolbar.toolbar GtkToolButton .button:focus:active,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
    border-width: 3px;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0;
}

/* leftmost button */
.primary-toolbar .button.raised.linked:first-child,
.primary-toolbar .button.raised.linked:active:first-child,
.primary-toolbar .button.raised.linked:focus:first-child,
.primary-toolbar .button.raised.linked:focus:active:first-child,
.primary-toolbar .button.raised.linked:insensitive:first-child,
.primary-toolbar .raised.linked .button:first-child,
.primary-toolbar .raised.linked .button:active:first-child,
.primary-toolbar .raised.linked .button:focus:first-child,
.primary-toolbar .raised.linked .button:focus:active:first-child,
.primary-toolbar .raised.linked .button:insensitive:first-child,
.inline-toolbar.toolbar .button:first-child,
.inline-toolbar.toolbar .button:active:first-child,
.inline-toolbar.toolbar .button:focus:first-child,
.inline-toolbar.toolbar .button:focus:active:first-child,
.inline-toolbar.toolbar .button:insensitive:first-child,
.inline-toolbar.toolbar GtkToolButton:first-child .button,
.inline-toolbar.toolbar GtkToolButton:first-child .button:active,
.inline-toolbar.toolbar GtkToolButton:first-child .button:focus,
.inline-toolbar.toolbar GtkToolButton:first-child .button:focus:active,
.inline-toolbar.toolbar GtkToolButton:first-child .button:insensitive {
    border-width: 3px;
    border-right-width: 0;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* rightmost button */
.primary-toolbar .button.raised.linked:last-child,
.primary-toolbar .button.raised.linked:active:last-child,
.primary-toolbar .button.raised.linked:focus:last-child,
.primary-toolbar .button.raised.linked:focus:active:last-child,
.primary-toolbar .button.raised.linked:insensitive:last-child,
.primary-toolbar .raised.linked .button:last-child,
.primary-toolbar .raised.linked .button:active:last-child,
.primary-toolbar .raised.linked .button:focus:last-child,
.primary-toolbar .raised.linked .button:focus:active:last-child,
.primary-toolbar .raised.linked .button:insensitive:last-child,
.inline-toolbar.toolbar .button:last-child,
.inline-toolbar.toolbar .button:active:last-child,
.inline-toolbar.toolbar .button:focus:last-child,
.inline-toolbar.toolbar .button:focus:active:last-child,
.inline-toolbar.toolbar .button:insensitive:last-child,
.inline-toolbar.toolbar GtkToolButton:last-child .button,
.inline-toolbar.toolbar GtkToolButton:last-child .button:active,
.inline-toolbar.toolbar GtkToolButton:last-child .button:focus,
.inline-toolbar.toolbar GtkToolButton:last-child .button:focus:active,
.inline-toolbar.toolbar GtkToolButton:last-child .button:insensitive {
    border-width: 3px;
    border-left-width: 0;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* single button */
.primary-toolbar.toolbar .button:only-child,
.primary-toolbar.toolbar .button:active:only-child,
.primary-toolbar.toolbar .button:focus:only-child,
.primary-toolbar.toolbar .button:focus:active:only-child,
.primary-toolbar.toolbar .button:insensitive:only-child,
.primary-toolbar.toolbar GtkToolButton:only-child .button,
.primary-toolbar.toolbar GtkToolButton:only-child .button:active,
.primary-toolbar.toolbar GtkToolButton:only-child .button:focus,
.primary-toolbar.toolbar GtkToolButton:only-child .button:focus:active,
.primary-toolbar.toolbar GtkToolButton:only-child .button:insensitive,
.inline-toolbar.toolbar .button:only-child,
.inline-toolbar.toolbar .button:active:only-child,
.inline-toolbar.toolbar .button:focus:only-child,
.inline-toolbar.toolbar .button:focus:active:only-child,
.inline-toolbar.toolbar .button:insensitive:only-child,
.inline-toolbar.toolbar GtkToolButton:only-child .button,
.inline-toolbar.toolbar GtkToolButton:only-child .button:active,
.inline-toolbar.toolbar GtkToolButton:only-child .button:focus,
.inline-toolbar.toolbar GtkToolButton:only-child .button:focus:active,
.inline-toolbar.toolbar GtkToolButton:only-child .button:insensitive {
    border-width: 3px;
    border-radius: 5px;
}

/***********
 * tooltip *
 ***********/
.tooltip {
    border-width: 1px;
    border-style: solid;
    border-color: alpha(@theme_tooltip_bg_color, 0.9);
    border-radius: 5px;
    background-image: none;
    background-color: alpha(@theme_tooltip_bg_color, 0.7);
    color: @theme_tooltip_fg_color;
}

.tooltip * {
    background-color: transparent;
}

/************
 * treeview *
 ************/
GtkTreeView {
}

GtkTreeView.dnd {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_selected_bg_color, 0.9);
    border-radius: 0;
}

GtkTreeView .entry {
    border-radius: 0;
    background-color: @theme_base_color;
    background-image: none;
}

/************
 * viewport *
 ************/
GtkViewport {
    background-color: transparent;
}

GtkViewport.frame {
    border-width: 0;
}

.view {
    background-color: @theme_base_color;
    color: @theme_text_color;
}

.view:selected,
.view:selected:focus {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}
